.filtersLine {
    margin: 2px 0 10px;
    padding: 3px 1.5em;
    background-color: #fefefe;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    width: 100%;
    border-radius: 0;
    text-align: right;
}

.filtersLine select {
    border-top: none;
    border-right: 1px solid grey;
    border-bottom: none;
    border-left: 1px solid grey;
    background: none;
}

.filtersLine label {
    font-weight: normal;
    margin: 0;
}

.goBack {
    position: absolute;
    left: 1.5em;
    display: inline-block;
}

.pageNavigation {
    left: 1.5em;
    display: inline-block;
    position: absolute;
}

.pageNavigation a {
    text-decoration: none;
}

.sort {
    display: inline-block;
    position: inherit;
}

.pagination {
    margin: 0 0 0 1.5em;
    display: inline-block;
}

/*------------ PRODUCT -------------*/
.product {
    margin: 0;
    padding: 0.5em 1em;
    background-color: white;
    border: 1px solid #dddddd;
    color: grey;
    height: 85px;
}

.showProduct {
    margin: 0;
    padding: 0.5em 1em;
    background-color: white;
    border: 1px solid #dddddd;
    color: #222;
    min-width: 500px;
    position: relative;
}

.showProduct h5 {
    color: black;
    font-weight: 500;
    margin-bottom: 0;
}

.showProduct hr {
    margin: 0.4em 0 0.1em 0;
}

.product:hover {
    background-color: #fcfcfc;
}

.product h5 {
    color: black;
    font-weight: 500;
}

.data {
    margin: 0;
    font-size: 12px;
    color: #777;
}

.data span {
    font-family: monospace;
}

.price {
    margin: 0.9em 0;
}

.inStoke {
    color: #48a019;
}

.price {
    font-weight: 500;
}

.price span {
    color: #E62117;
}

.description {
    display: block;
    color: #555;
    font-weight: 500;
    margin: 0.2em 0;
}


.orderForm {
    text-align: right;
}

.orderQuantity {
    margin-right: 0.6em;
    display: inline-block;
}

.orderQuantity label {
    font-weight: 500;
}

label[generated=true] {
    position: absolute;
    left: 1em;
    margin: 0;
}

.error {
    color: #b92c28;
}

.orderQuantity input{
    margin: 0 0.1em;
    width: 40px;
    text-align: center;
}

.purchaseButton {
    text-align: right;
    color: black;
    font-weight: 500;
    display: inline-block;
}

.purchaseButton button {
    width: auto;
    margin: 0 1px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 0.1em 0.8em;
    border: 1px solid #5fbd33;
    border-radius: 3px;
    background-color: #5fbd33;
}

@media screen and (max-width: 550px)
{
    .pageNavigation {
        width: 100%;
        position: inherit;
        text-align: center;
    }
}
/*------------ PRODUCT -------------*/

/*------------ BASKET -------------*/

/*.basket {*/
    /*position: absolute;*/
    /*right: 5px;*/
    /*top: 100px;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*background-color: #fefefe;*/
    /*border: 1px solid #dddddd;*/
    /*border-radius: 2px;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*text-align: left;*/
    /*z-index: 5;*/
/*}*/

.basket {
    position: relative;
    float: left;
    margin-top: -14px;
    padding: 0;
    background-color: #fefefe;
    border: 1px solid #dddddd;
    border-radius: 2px;
    width: 48px;
    height: 48px;
    text-align: left;
    z-index: 5;
}

.count {
    display: block;
    position: absolute;
    bottom: 1px;
    right: 1px;
    margin: 0;
    padding: 0;
    height: 26px;
    width: 26px;
    line-height: 26px;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: white;
    background-color: #cd1b00;
}

.basket div[name='basket'] {
    display: none;
}

.basketTitle {
    padding-top: 5px;
    padding-bottom: 0;
    font-size: 18px;
    text-align: center;
    display: block;
    width: 100%;
    color: #5fbd33;
    margin: 0;
}

.basketOrderButton  {
    padding-top: 2px;
    padding-bottom: 5px;
    text-align: center;
    display: block;
    width: 100%;
    color: #5fbd33;
    margin: 0;
}

.basketOrderButton button {
    width: auto;
    margin: 0 1px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 0.1em 0.8em;
    border: 1px solid #5fbd33;
    border-radius: 3px;
    background-color: #5fbd33;
}

.basketProductList {
    display: block;
}

.basketProductList button {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    margin: 3px;
    border: none;
    outline: none;
}

.basketProductList span[name='qua'] {
    text-align: center;
    width: 30px;
    height: 25px;
    line-height: 30px;
    display: inline-block;
    color: #cd1b00;
    float: left;
}

.basketProductList span[name='product'] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 30px;
    display: inline-block;
    height: 25px;
    width: 300px;
}

.basket ul {
    padding: 0;
    margin: 2px 0;
}

.basket li {
    width: 400px;
    list-style: none;
    display: block;
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
    margin: 0 2px;
    padding: 5px 5px;
}

.basket li:hover {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.basket:hover div[name='basket'] {
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: #fefefe;
    border: 1px solid #dddddd;
}

@media screen and (max-width: 650px)
{
    .basket {
        width: 100%;
        position: inherit;
        text-align: center;
        border-left: none;
        border-right: none;
        border-radius: 0;
        margin: 2px 0 0 0;
    }
}

/*------------ BASKET -------------*/